.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loginAlert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listLink {
  color: inherit;
  text-decoration: inherit;
}

.fetchLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.fetchError {
  color: #ec5757;
}

@media only screen and (max-width: 600px) {
  .infiniteScroll {
    display: 'grid';
    grid-template-columns: '1fr 1fr';
    row-gap: '10px';
    column-gap: '20px';
  }
}
