/* .header {
  background-color: #eb0042;
} */

.headerLinks {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.headerHomeLink {
  text-decoration: none;
  color: inherit;
}

.headerHomeLink:hover {
  background: #000;
  padding: 10px;
  border-radius: 8px;
  color: #fff;

  transition: 0.2s;
}
